pandas~=2.2.3
DateTime~=5.5
logging~=0.4.9.6
openpyxl~=3.2.0b1
configparser~=7.1.0
pygerrit2~=2.0.15
requests~=2.32.3
jira~=3.8.0
python-docx~=1.1.2
argparse~=1.4.0
setuptools~=75.6.0

codecs
concurrent.futures
csv
docx.oxml
docx.oxml.ns
enum
functools
idlelib.iomenu
json
os
pandas
pkg_resources
random
re
setuptools
sys
time
typing
tqdm~=4.67.1
pytz~=2024.2